<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="name-alias" class="flex-horizontal">

    <img src="{{img}}" data-edit="img" title="{{name}}" height="100" width="100"/>

    <div class="grow-two">
      <div id="name">
        <label for="character-{{_id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="character-{{_id}}-name" name="name" value="{{name}}">
      </div>

      <div id="character-traits" class="flex-column">

		    <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="class">{{localize "BITD.Class"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "class")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="tooltip">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.system.description}}}<br />{{localize "BITD.ClassExpClueDescription"}}<br />{{localize "BITD.ClassExpClue2"}}<br />{{localize "BITD.ClassExpClue3"}}<br />{{item.system.experience_clues}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="heritage">{{localize "BITD.Heritage"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "heritage")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="tooltip">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.system.description}}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-distinct="true" data-item-type="background">{{localize "BITD.Background"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "background")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <div class="tooltip">
                  <a class="item-name">{{item.name}}</a>
                  <span class="tooltiptext">{{{item.system.description}}}</span>
                </div>
              </div>
              <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-item-type="vice">{{localize "BITD.Vices"}}</a></div>
          <div class="flex-vertical">
		        {{#each items as |item id|}}
              {{#if (eq item.type "vice")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div class="tooltip">
                    <a class="item-name">{{item.name}}</a>
                    <span class="tooltiptext">{{{item.system.description}}}</span>
                  </div>
                </div>
                <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
              {{/if}}
            {{/each}}
		      </div>
        </div>

		    <div class="item-block flex-horizontal">
          <div class="item-class-label">
            <a class="flag-add-popup" data-distinct="true" data-item-type="ship">{{localize "BITD.Ship"}}</a>
          </div>
          {{#each flags.scum-and-villainy.ship as |item id|}}
            {{#unless (eq item.name "")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
                <div class="ship-body flex-horizontal">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div>
                    <a class="item-name">{{item.name}}</a>
                  </div>
                </div>
                <a class="item-control flag-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a style="visibility:hidden" class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/unless}}
          {{/each}}
        </div>
	    </div>
    </div>

    <div class="grow-two">
      <div id="alias">
        <label for="character-{{_id}}-alias">{{localize "BITD.Alias"}}</label>
        <input type="text" id="character-{{_id}}-alias" name="system.alias" value="{{system.alias}}">
      </div>

	    <div id="look">
        <label for="character-{{_id}}-look">{{localize "BITD.Look"}}</label>
        <input type="text" id="character-{{_id}}-look" name="system.look" value="{{system.look}}">
      </div>

      {{> "systems/scum-and-villainy/templates/parts/coins.html" actor=actor}}
    </div>

  </section>


  {{!-- Stress and Trauma --}}
  <div id="stress-trauma" class="section big-teeth-section">
    <div id="character-{{_id}}-stress" class="big-teeth">
      {{#multiboxes system.stress.value}}
        <input type="radio" id="character-{{_id}}-stress-0" name="system.stress.value" value="0" dtype="Radio">
        <div id="stress-vice">
	        <label class="black-label" for="character-{{_id}}-stress-0">{{localize system.stress.name}}</label>
          <span class="black-label roll-die-attribute rollable-text" data-roll-attribute="vice">{{localize "BITD.Vice"}}</span>
	      </div>
        {{#times_from_1 system.stress.max}}
          <input type="radio" id="character-{{../_id}}-stress-{{this}}" name="system.stress.value" value="{{this}}" dtype="Radio">
          <label for="character-{{../_id}}-stress-{{this}}"></label>
        {{/times_from_1}}
      {{/multiboxes}}
    </div>

    <div id="character-{{_id}}-trauma-container" class="small-teeth-container">
      {{#traumacounter system.trauma.list}}
        <div id="character-{{_id}}-trauma" class="small-teeth-wrap">
          <label class="black-label" for="character-{{_id}}-trauma-counter-0">{{localize system.trauma.name}}</label>
          <div id="trauma-teeth" class="small-teeth">
            <input type="radio" id="character-{{_id}}-trauma-counter-0" name="system.trauma.value" value="0">
            {{#times_from_1 system.trauma.max}}
              <input type="radio" id="character-{{../_id}}-trauma-counter-{{this}}" name="system.trauma.value" value="{{this}}" disabled>
              <label for="character-{{../_id}}-trauma-counter-{{this}}"></label>
            {{/times_from_1}}
          </div>
        </div>
      {{/traumacounter}}
    </div>

    <div id="trauma-list">
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaColdTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.cold" value="cold" {{checked system.trauma.list.cold}}>
          <span class="checkmark">{{localize "BITD.TraumaCold"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaHauntedTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.haunted" value="haunted" {{checked system.trauma.list.haunted}}>
          <span class="checkmark">{{localize "BITD.TraumaHaunted"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaObsessedTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.obsessed" value="obsessed" {{checked system.trauma.list.obsessed}}>
          <span class="checkmark">{{localize "BITD.TraumaObsessed"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaParanoidTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.paranoid" value="paranoid" {{checked system.trauma.list.paranoid}}>
          <span class="checkmark">{{localize "BITD.TraumaParanoid"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaRecklessTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.reckless" value="reckless" {{checked system.trauma.list.reckless}}>
          <span class="checkmark">{{localize "BITD.TraumaReckless"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaSoftTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.soft" value="soft" {{checked system.trauma.list.soft}}>
          <span class="checkmark">{{localize "BITD.TraumaSoft"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaUnstableTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.unstable" value="unstable" {{checked system.trauma.list.unstable}}>
          <span class="checkmark">{{localize "BITD.TraumaUnstable"}}</span>
        </label>
      </div>
      <div class="tooltip">
        <span class="tooltiptext bottom">{{{localize "BITD.TraumaViciousTip"}}}</span>
        <label>
          <input type="checkbox" name="system.trauma.list.vicious" value="vicious" {{checked system.trauma.list.vicious}}>
          <span class="checkmark">{{localize "BITD.TraumaVicious"}}</span>
        </label>
      </div>
    </div>

  </div>

  {{!-- Harm, Healing and Armor --}}
  <section id="harm-armor">
    <div id="character-harm">
      <table>
        <thead>
          <th class="black-white" colspan="4">{{localize "BITD.Harm"}}</th>
          <th class="black-white"><label>{{localize "BITD.Healing"}}</label></th>
          <th class="black-white">{{localize "BITD.Armor"}}</th>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td colspan="2">
              <input type="text" id="character-{{_id}}-harm-3-1" name="system.harm.heavy.one" value="{{system.harm.heavy.one}}">
            </td>
            <td>{{localize "BITD.NeedHelp"}}</td>
            <td rowspan="3">
              <div id="character-health-clock">
				        {{{sav-clock "system.healing-clock" system.healing-clockMax system.healing-clock _id}}}
              </div>
            </td>
            <td rowspan="3" id="character-armor-uses">
              <div>
                <div>
                  <label for="armor-uses-armor">{{localize "BITD.Armor"}}</label>
                  <input id="armor-uses-armor" type="checkbox" name="system.armor-uses.armor" {{checked system.armor-uses.armor}}>
                </div>
                <div>
                  <label for="armor-uses-heavy">{{localize "BITD.Heavy"}}</label>
                  <input id="armor-uses-heavy" type="checkbox" name="system.armor-uses.heavy" {{checked system.armor-uses.heavy}}>
                </div>
                <div>
                  <label for="armor-uses-special">{{localize "BITD.Special"}}</label>
                  <input id="armor-uses-special" type="checkbox" name="system.armor-uses.special" {{checked system.armor-uses.special}}>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input type="text" id="character-{{_id}}-harm-2-1" name="system.harm.medium.one" value="{{system.harm.medium.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-harm-2-2" name="system.harm.medium.two" value="{{system.harm.medium.two}}">
            </td>
            <td>-1D</td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <input type="text" id="character-{{_id}}-harm-1-1" name="system.harm.light.one" value="{{system.harm.light.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-harm-1-2" name="system.harm.light.two" value="{{system.harm.light.two}}">
            </td>
            <td>{{localize "BITD.LessEffect"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>




  {{!-- Attributes --}}
  <section class="flex-horizontal">

    <div class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item" data-tab="abilities">{{localize "BITD.Abilities"}}</a>
        <a class="item" data-tab="loadout">{{localize "BITD.Loadout"}}</a>
		    <a class="item" data-tab="friends">{{localize "BITD.Friends"}}</a>
        <a class="item" data-tab="character-notes">{{localize "BITD.Notes"}}</a>
        {{#if isGM}}
          <a class="item" data-tab="effects">{{localize "BITD.Effects"}}</a>
        {{/if}}
        <a class="item" data-tab="all-character-items">{{localize "BITD.AllItems"}}</a>
      </nav>

      <div id="abilities" class="tab flex-vertical" data-tab="abilities">
        <div class="label-stripe">
          <p><label for="character-{{_id}}-experience-0">{{localize "BITD.Abilities"}}</label>
          <a class="item-add-popup" data-item-type="ability" data-limiter="system.character_class"><i class="fas fa-plus-square"></i></a></p>
          <div id="character-experience" class="teeth-experience tooltip">
            <label for="character-{{}}-experience-0">{{localize "BITD.PExperience"}}<i class="fab fa-creative-commons-zero nullifier"></i>
              <span class="tooltiptext left">{{localize "BITD.ClassExpClueDescription"}}<br />{{localize "BITD.ClassExpClue2"}}<br />{{localize "BITD.ClassExpClue3"}}<br />
                {{#each items as |item id|}}
                  {{#if (eq item.type "class")}}
                    {{item.system.experience_clues}}
                  {{/if}}
                {{/each}}
              </span>
            </label>
            {{#multiboxes system.experience}}
              <input type="radio" id="character-{{_id}}-experience-0" name="system.experience" value="0" dtype="Radio">
              {{#times_from_1 system.experienceMax}}
                <input type="radio" id="character-{{../_id}}-experience-{{this}}" name="system.experience" value="{{this}}" dtype="Radio">
                <label for="character-{{../_id}}-experience-{{this}}"></label>
              {{/times_from_1}}
            {{/multiboxes}}
          </div>
        </div>

        <div id="abilities-list">
          {{#each items as |item id|}}
          {{#if (eq item.type "ability")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
				        <a class="item-name">{{item.name}}</a>
                <div class="item-description">{{{item.system.description}}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="ability">{{localize "BITD.AddAbility"}}</a></div>
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div id="loadout" class="tab flex-vertical" data-tab="loadout">
    		<div class="label-stripe{{#if (eq system.loadout.load_level "BITD.OverMax")}}-red{{/if}}">
          <p>
            {{localize "BITD.Loadout"}}:  {{system.loadout.current}} / {{localize system.loadout.load_level}}
            <a class="item-add-popup" data-item-type="item"><i class="fas fa-plus-square"></i></a>
          </p>
        </div>
        <div id="loadout-list">
          {{#each items as |item id|}}
          {{#if (eq item.type "item")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <a class="item-name">{{item.name}}</a>
                <div class="item-description">{{{item.system.description}}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-item-type="item">{{localize "BITD.AddItem"}}</a></div>
        </div>
      </div>

	{{!-- Friends Tab --}}
  <div id="friends" class="tab flex-vertical" data-tab="friends">
		<div class="label-stripe">
		  <p>{{localize "BITD.Friends"}}
      <a class="item-add-popup" data-item-type="friend"><i class="fas fa-plus-square"></i></a></p>
    </div>
    <div id="friend-list">
      {{#each items as |item id|}}
        {{#if (eq item.type "friend")}}
		    	<div class="friend-tracker">
			      {{#multiboxes item.system.status.value}}
				      <input class="update-box" data-utype="status" data-item="{{item._id}}" data-value="0" type="radio" id="friend-{{item._id}}-status-0" value="0" dtype="Radio">
				      <label for="friend-{{item._id}}-status-0"></label>
				      <input class="update-box" data-utype="status" data-item="{{item._id}}" data-value="1" type="radio" id="friend-{{item._id}}-status-1" value="1" dtype="Radio">
				      <label for="friend-{{item._id}}-status-1"></label>
				      <input class="update-box" data-utype="status" data-item="{{item._id}}" data-value="2" type="radio" id="friend-{{item._id}}-status-2" value="2" dtype="Radio">
				      <label for="friend-{{item._id}}-status-2"></label>
			      {{/multiboxes}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
      			  <div class="item-body flex-horizontal">
			         	<!--<img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>-->
				        <a class="item-name">{{item.name}}</a>
                <div class="item-description">{{{item.system.description}}}</div>
              </div>
              <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
			    </div>
        {{/if}}
      {{/each}}
      <div class="item-class-label"><a class="item-add-popup" data-item-type="friend">{{localize "BITD.AddFriend"}}</a></div>
    </div>
  </div>

      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="label-stripe">
          <p>{{localize "BITD.Notes"}}</p>
        </div>
        {{{editor content=system.description target="system.description" button=true owner=owner editable=editable}}}
		    {{#if editable}}
        <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{localize "JOURNAL.Submit"}}</button>
        {{/if}}
      </div>

      {{!-- Active Effects --}}
      {{#if isGM}}
        <div id="effects" class="tab effects flex-vertical" data-tab="effects">
          <div class="label-stripe">
            <p>{{localize "BITD.Effects"}}</p>
          </div>
          {{> "systems/scum-and-villainy/templates/parts/active-effects.html"}}
        </div>
      {{/if}}

      {{!-- Full Item List --}}
      <div id="all-items" class="tab grow-two flex-vertical" data-tab="all-character-items">
        <div class="label-stripe">
          <p><label>{{localize "BITD.AllItems"}}</label></p>
        </div>
        {{#each items as |item id|}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            <a class="item-name">{{item.name}}</a>
          </div>
          <a class="item-control item-delete" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          <a class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
        </div>
        {{/each}}
      </div>

    </div>
    {{!-- Attributes --}}
    {{> "systems/scum-and-villainy/templates/parts/attributes.html" actor=actor}}
  </section>

</form>
