<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section class="flex-horizontal">
	
    <div id="name">
      <label for="campaign-{{actor._id}}-name">{{localize "BITD.CampaignName"}}</label>
      <input type="text" id="campaign-{{actor._id}}-name" name="name" value="{{actor.name}}">
    </div>
	<p><a class="update-sheet" data-item-type="star_system">{{localize "BITD.Update"}} {{localize "BITD.Systems"}}</a></p>
	<p><a class="update-sheet" data-item-type="planet">{{localize "BITD.Update"}} {{localize "BITD.Planets"}}</a></p>
  </section>

  <section class="flex-horizontal">
    <div class="tab-content flex-vertical grow-two">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        {{#each actor.items as |item|}}
			{{#if (eq item.type "star_system")}}
				<a class="item update-system" data-tab="{{item.name}}">{{item.name}} {{localize "BITD.System"}}</a>
			{{/if}}
		{{/each}}
      </nav>
	  
	  
	  {{!-- Planet List --}}
		{{#each actor.items as |system|}}
		{{#if (eq system.type "star_system")}}
		<div id="planets" class="tab flex-vertical" data-tab="{{system.name}}">
			
	  
		<!--
		<div class="label-stripe">
          <p>{{system.name}}</p>
          
            <p>{{localize "BITD.Heat"}}</p>
			<div id="{{system.name}}" class="teeth-experience-red">
            <label for="system-{{actor._id}}-heat-0"><i class="fab fa-creative-commons-zero nullifier"></i></label>
            {{#multiboxes ../data.heat}}
            <input type="radio" id="system-{{actor._id}}-heat-0" name="../data.heat" value="0" dtype="Radio">
            {{#times_from_1 ../data.heat_max}}
			<input type="radio" id="system-{{actor._id}}-heat-{{this}}" name="../data.heat" value="{{this}}" dtype="Radio">
            <label for="system-{{actor._id}}-heat-{{this}}"></label>
            {{/times_from_1}}
            {{/multiboxes}}
		
			<p>{{localize "BITD.Wanted"}}  </p>
            <label for="system-{{actor._id}}-wanted-0"><i class="fab fa-creative-commons-zero nullifier"></i></label>
            {{#multiboxes ../data.wanted}}
            <input type="radio" id="system-{{actor._id}}-wanted-0" name="../data.wanted" value="0" dtype="Radio">
            {{#times_from_1 ../data.wanted_max}}
			<input type="radio" id="system-{{actor._id}}-wanted-{{this}}" name="../data.wanted" value="{{this}}" dtype="Radio">
            <label for="system-{{actor._id}}-wanted-{{this}}"></label>
            {{/times_from_1}}
            {{/multiboxes}}
          </div>
        </div>
		
		-->	
			
		<div id="planet-list">
			{{#each ../actor.items as |planet|}}
				{{#if (eq planet.type "planet")}}
				{{#if (eq planet.data.system system.name)}}
				<div class="item flex-horizontal" data-item-id="{{planet._id}}">
				<div class="item-body flex-horizontal">
					<div class="item-name"><b>{{planet.name}}</b></div>
					<table style="width: 28rem;">
						<tr><td>Wealth:</td>
							<td>{{data.wealth}} / 3</td></tr>
						<tr><td>Crime/Syndicate:</td>
							<td>{{data.crime}} / 3</td></tr>
						<tr><td>Tech Level:</td>
							<td>{{data.tech}} / 3</td></tr>
						<tr><td>Weirdness:</td>
							<td>{{data.weird}} / 3</td></tr>
					</table>
					<div class="item-description">{{planet.data.rule}}</div>
				</div>
				</div>
				{{/if}}
				{{/if}}
			{{/each}}
		</div>
			
		</div>
		{{/if}}
		{{/each}}

	</div>
  </section>
  <section class="flex-horizontal">
	{{> "systems/scum-and-villainy/templates/parts/factions.html" actor=actor}}
  </section>

</form>
