<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      {{{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}}
    </section>
    <div class="flex-vertical">
      <div class="flex-horizontal">
        <div class="flex-vertical grow-two">
          <label class="label-stripe">{{localize "BITD.AbilityPrice"}}</label>
          <textarea name="system.price">{{system.price}}</textarea>
        </div>
        <div class="flex-vertical grow-two">
          <label class="label-stripe">{{localize "BITD.AbilityClass"}}</label>
          <textarea name="system.class">{{system.class}}</textarea>
        </div>
      </div>

      <div class="flex-horizontal">
        <div class="flex-vertical grow-two">
          <label class="label-stripe">{{localize "BITD.StartingAbility"}}</label>
          <input id="starting" type="checkbox" name="system.starting" {{checked system.starting}}>
        </div>
        <div class="flex-vertical grow-two">
          <label class="label-stripe">{{localize "BITD.RecommendedAbility"}}</label>
          <input id="recommended" type="checkbox" name="system.recommended" {{checked system.recommended}}>
        </div>
      </div>
      {{#if isGM}}
        <div class="label-stripe">{{localize "BITD.Effects"}}</div>
        <div id="effects">{{> "systems/scum-and-villainy/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </div>
</form>
