<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    {{{editor system.description target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}}
    <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
    <div>{{localize "BITD.CrewExpClueDescription"}}</div>
	  <div><i>- {{localize "BITD.CrewExpClue2"}}</i></div>
    <div><i>- {{localize "BITD.CrewExpClue3"}}</i></div>
    <div><i>- {{localize "BITD.CrewExpClue4"}}</i></div>
    <br>
    <label class="label-stripe">{{localize "BITD.ClassExpClue"}}</label>
    {{{editor system.experience_clues target="system.experience_clues" button=true owner=owner editable=editable}}}
    {{#if isGM}}
      <label class="label-stripe">{{localize "BITD.AddUpgrades"}}</label>
      <textarea name="system.def_abilities">{{system.def_abilities}}</textarea>
      <div class="label-stripe">{{localize "BITD.Effects"}}</div>
      <div id="effects">{{> "systems/scum-and-villainy/templates/parts/active-effects.html"}}</div>
    {{/if}}
  </section>

</form>
