<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Faction'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
	  <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea rows="2" name="system.description">{{{system.description}}}</textarea>

	  <div class="flex-horizontal">
      <div class="flex-vertical grow-four">
        <label class="label-stripe">{{localize "BITD.FactionType"}}</label>
        <textarea rows="1" name="system.type">{{system.type}}</textarea>
      </div>
      <div class="flex-vertical grow-one">
        <label class="label-stripe">{{localize "BITD.Tier"}}</label>
        <textarea rows="1" name="system.tier">{{system.tier}}</textarea>
      </div>
    </div>

    <div class="flex-vertical">
      <label class="label-stripe">{{localize "BITD.Goal"}}</label>
      <div class="flex-horizontal">
        <div class="flex-vertical grow-one">
          <div class="flex-vertical" id="faction-goal-clock">
            <div id="faction-clock">
              {{#if (gt system.status.value 4)}}
                {{{sav-clock "system.goal_clock.value" system.goal_clock.max system.goal_clock.value id "blue"}}}
              {{else}}
                {{#if (lt system.status.value 4)}}
                  {{{sav-clock "system.goal_clock.value" system.goal_clock.max system.goal_clock.value id "red"}}}
                {{else}}
                  {{{sav-clock "system.goal_clock.value" system.goal_clock.max system.goal_clock.value id "yellow"}}}
                {{/if}}
              {{/if}}
            </div>
          </div>
          <div id="clock-max">
            <label>{{localize "BITD.GoalClockMax"}}:</label>
            <select id="max" name="system.goal_clock.max">
              {{{system.size_list}}}
            </select>
          </div>
        </div>
        <div class="flex-vertical grow-four">
          <textarea rows="3" name="system.goal">{{system.goal}}</textarea>
        </div>
      </div>
    </div>

    <div class="flex-vertical">
      <div class="label-stripe">{{localize "BITD.NotableNPCs"}}</div>
      {{{editor content=system.notables target="system.notables" button=true owner=owner editable=editable}}}
    </div>

    <div class="flex-horizontal">
      <div class="flex-vertical grow-two">
        <label class="label-stripe">{{localize "BITD.Turf"}}</label>
        <textarea rows="4" name="system.turf">{{system.turf}}</textarea>
      </div>
      <div class="flex-vertical grow-two">
        <label class="label-stripe">{{localize "BITD.Assets"}}</label>
        <textarea rows="4" name="system.assets">{{system.assets}}</textarea>
      </div>
    </div>

	  <label class="label-stripe">{{localize "BITD.Quirks"}}</label>
    <textarea rows="1" name="system.quirks">{{system.quirks}}</textarea>

    <div class="flex-horizontal">
      <div class="flex-vertical grow-two">
        <label class="label-stripe">{{localize "BITD.Allies"}}</label>
        <textarea rows="1" name="system.allies">{{system.allies}}</textarea>
      </div>
      <div class="flex-vertical grow-two">
        <label class="label-stripe">{{localize "BITD.Enemies"}}</label>
        <textarea rows="1" name="system.enemies">{{system.enemies}}</textarea>
      </div>
    </div>

	  <label class="label-stripe">{{localize "BITD.Situation"}}</label>
    <textarea rows="10" name="system.situation">{{system.situation}}</textarea>

  </section>
</form>
