<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.Planet'}}"/></h1>
      </div>
  </header>
  
  <section class="flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea rows="10" name="data.description">{{data.description}}</textarea>
	<label class="label-stripe">{{localize "BITD.System"}}</label>
    <textarea rows="1" name="data.system">{{data.system}}</textarea>
	<label class="label-stripe">{{localize "BITD.Stats"}}</label>
    <table style="width:50%">
	<tr>
		<td>Wealth:</td>
		<td><textarea cols="1" rows="1" maxlength="1" style="resize: none; text-align:right;" name="data.wealth">{{data.wealth}}</textarea></td><td style="text-align:left">/ 3</td>
	</tr>
	<tr>
		<td>Crime/Syndicate:</td>
		<td><textarea cols="1" rows="1" maxlength="1" style="resize: none; text-align:right;" name="data.crime">{{data.crime}}</textarea></td><td style="text-align:left">/ 3</td>
	</tr>
	<tr>
		<td>Tech Level:</td>
		<td><textarea cols="1" rows="1" maxlength="1" style="resize: none; text-align:right;" name="data.tech">{{data.tech}}</textarea></td><td style="text-align:left">/ 3</td>
	</tr>
	<tr>
		<td>Weirdness:</td>
		<td><textarea cols="1" rows="1" maxlength="1" style="resize: none; text-align:right;" name="data.weird">{{data.weird}}</textarea></td><td style="text-align:left">/ 3</td>
	</tr>
	</table>
	<label class="label-stripe">{{localize "BITD.Scene"}}</label>
    <textarea rows="10" name="data.scene">{{data.scene}}</textarea>
	<label class="label-stripe">{{localize "BITD.Rule"}}</label>
    <textarea rows="5" name="data.rule">{{data.rule}}</textarea>
    <label class="label-stripe">{{localize "BITD.NotableNPCs"}}</label>
    <textarea rows="20" name="data.notables">{{data.notables}}</textarea>
    
  </section>

</form>
