/*
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
/*
 * General Styles
 */
:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;

  --fs-allies:hsl(210, 100%, 40%);
  --fs-friends:hsl(210, 45%, 35%);
  --fs-associates:hsl(210, 15%, 50%) ;
  --fs-neutral:hsl(0, 0%, 65%);
  --fs-adversaries:hsl(0, 15%, 50%);
  --fs-enemies: hsl(0, 45%, 35%);
  --fs-war:hsl(0, 100%, 40%);
}
@font-face {
  font-family: 'Exo2';
  src: url("assets/fonts/Exo2-VariableFont_wght.ttf");
}
*:not(i, button) {
	font-family: 'Exo2', 'Signika', sans-serif;
}
* .scum-and-villainy .sheet header {
  margin-bottom: 10px;
}
* .scum-and-villainy ul {
  list-style: none;
}
* .scum-and-villainy .sheet .editor-content ul {
  list-style: unset;
}
* .scum-and-villainy form.actor-sheet {
  padding: 20px;
}
* .scum-and-villainy form .form-group.roll > * {
    flex: 3;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
}
.placeable-hud .control-icon:first-child {
  margin-top: 8px;
}
.window-app .window-content,
.chat-message,
.sheet.journal-entry .journal-entry-content {
	background: linear-gradient(rgba(216, 227, 230, 0.75), rgba(121, 129, 130, 0.75)),
    url('assets/brushed_metal.jpg') repeat;
  color: var(--color-dark-2);
}
.window-app .window-content h1,
.chat-message h1,
.sheet.journal-entry .journal-entry-content h1,
.window-app .window-content h2,
.chat-message h2,
.sheet.journal-entry .journal-entry-content h2,
.window-app .window-content h3,
.chat-message h3,
.sheet.journal-entry .journal-entry-content h3,
.window-app .window-content h4,
.chat-message h4,
.sheet.journal-entry .journal-entry-content h4,
.window-app .window-content h5,
.chat-message h5,
.sheet.journal-entry .journal-entry-content h5,
.window-app .window-content h6,
.chat-message h6,
.sheet.journal-entry .journal-entry-content h6 {
  color: var(--color-dark-2);
}
.chat-item img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
.dice-tooltip .dice-rolls .roll.savd6 {
	background: url('assets/icons/d6-black.svg');
	color: var(--almost_white);
	background-size: 24px 24px;
}
.dice-tooltip .dice-rolls .roll.method {
  font-size: var(--font-size-10);
  background: transparent;
  min-width: auto;
}
.resource-chat-notification table tr td.value {
  font-weight: bold;
  width: 25px;
  text-align: center;
}
.resource-chat-notification table tr td.arrow {
  width: 20px;
  text-align: center;
}
.resource-chat-notification table tr td .small {
  font-size: 10px;
}
.resource-chat-notification table tr td .green {
  color: green;
}
.resource-chat-notification table tr td .red {
  color: red;
}
* .scum-and-villainy .stats table {
  width: 50%;
}
* .scum-and-villainy .stats table tr td textarea {
  resize: none;
  text-align: right;
  min-height: 10px;
  width: 25px;
  float: right;
  height: 30px;
  margin-right: 2px;
}
* .scum-and-villainy .dialog-buttons {
	margin-top: 5px;
}
* .scum-and-villainy textarea {
  margin-top: 5px;
  margin-bottom: 10px;
}
* .scum-and-villainy td {
  padding: 5px;
}
* .scum-and-villainy section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* .scum-and-villainy section > *:not(.label-stripe):not(.fs-grid-container) {
  margin-right: 10px;
}
* .scum-and-villainy section > *:not(.label-stripe):last-child {
  margin-right: 0px;
}
* .scum-and-villainy section .grow-one {
  flex-grow: 1;
}
* .scum-and-villainy section .grow-two {
  flex-grow: 2;
}
* .scum-and-villainy section .grow-three {
  flex-grow: 3;
}
* .scum-and-villainy section .grow-four {
  flex-grow: 4;
}
* .scum-and-villainy section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
* .scum-and-villainy.sheet nav {
  margin-bottom: 10px;
}
* .scum-and-villainy.sheet nav.tabs > * {
  flex: 1;
}
* .scum-and-villainy .editor,
* .scum-and-villainy .editor-content {
  min-height: 120px;
}
* .scum-and-villainy .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* .scum-and-villainy .flex.one {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-right: 10px;
}
* .scum-and-villainy .flex.ten {
  display: flex;
  flex-direction: row;
  flex: 10;
  margin-right: 10px;
}
* .scum-and-villainy .flex-vertical:not(.tab) {
  display: flex;
  flex-direction: column;
}
* .scum-and-villainy .inline {
  display: inline-block;
}
* .scum-and-villainy .center {
  align-items: center;
}
* .scum-and-villainy .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .scum-and-villainy .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}
* .chat-label-small-red {
  background-color: red;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
}
* .label-stripe {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}
* .label-stripe .hoverlink {
  padding-top: 5px;
  cursor: pointer;
  transition: filter 0.1s;
}
* .label-stripe .hoverlink:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color:red;
}
* .label-stripe-red {
  text-transform: uppercase;
  background-color: #191813;
  color: red;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-gray {
  text-transform: uppercase;
  background-color: #92a6ad;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}
* .label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat-small-red {
  text-transform: capitalize;
  background-color: red;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .scum-and-villainy .description {
  font-style: italic;
}
* .scum-and-villainy .rollable-text {
  transition: color 0.2s;
}
* .scum-and-villainy .rollable-text:hover {
  cursor: pointer;
  color: red;
}
* .scum-and-villainy .rollable-text label:hover {
  cursor: pointer;
  color: red !important;
}
* .scum-and-villainy #stress-vice {
  width: 72px;
}
* .scum-and-villainy .big-teeth-section {
  border-top: 3px solid #191813;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  /* Trauma */
}
* .scum-and-villainy .big-teeth-section > * {
  margin-right: 10px;
}
* .scum-and-villainy .big-teeth-section > *:last-child {
  margin-right: 0px;
}
* .scum-and-villainy .big-teeth-section:last-child {
  margin-right: 0px;
}
* .scum-and-villainy .big-teeth-section .big-teeth {
  display: flex;
  /* Hide the browser's default checkbox */
}
* .scum-and-villainy .big-teeth-section .big-teeth label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .big-teeth-section .big-teeth label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy .big-teeth-section .big-teeth label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy .big-teeth-section .big-teeth label[for$="-0"]:hover {
  color: red;
}
* .scum-and-villainy .big-teeth-section .big-teeth label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy .big-teeth-section .big-teeth input {
  display: none;
}
* .scum-and-villainy .big-teeth-section .big-teeth input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .scum-and-villainy .big-teeth-section .big-teeth input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/shorttooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  cursor: not-allowed;
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap input {
  display: none;
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-red.png");
}
* .scum-and-villainy .big-teeth-section .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
}
* .scum-and-villainy .big-teeth-section #trauma-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
* .scum-and-villainy .big-teeth-section #trauma-list label {
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  transition: filter 0.1s;
  cursor: pointer;
  /* Hide the browser's default checkbox */
}
* .scum-and-villainy .big-teeth-section #trauma-list label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .big-teeth-section #trauma-list label input {
  display: none;
}
* .scum-and-villainy .big-teeth-section #trauma-list label input:checked ~ .checkmark {
  color: red;
}
* .scum-and-villainy .big-teeth-section #trauma-list label .checkmark {
  text-decoration: none;
  font-weight: bold;
}
* .scum-and-villainy #effects .flex {
  display: flex;
}
* .scum-and-villainy #effects table {
  background: unset;
  border-top: unset;
  border-bottom: unset;
  margin: unset;
}
* .scum-and-villainy #effects table .item {
  font-weight: unset;
}
* .scum-and-villainy #effects table tr:nth-child(even) {
  background-color: unset;
}
* .scum-and-villainy #effects table thead {
  background: unset;
  color: unset;
  text-shadow: unset;
  border-bottom: unset;
}
* .scum-and-villainy #effects table .item-controls {
  justify-content: space-evenly;
}
* .scum-and-villainy #character-stress label[for$="-0"] {
  margin-right: 0px;
}
* .scum-and-villainy #friend-list .item-name {
	width: 60px;
}
* .scum-and-villainy #upgrades .item-name,
* .scum-and-villainy #abilities .item-name,
* .scum-and-villainy #loadout .item-name {
	width: 120px;
}
* .scum-and-villainy #all-items .item-name {
	width: 300px;
}
* .scum-and-villainy #faction-items .item-name:not(.fs-faction-name) {
  width: 120px;
}
* .scum-and-villainy #friend-list .item .item-body {
	margin-left: 20px;
}
* .scum-and-villainy #planet-list .item-body {
	max-width: 5rem;
}
* .scum-and-villainy #friend-list .item-body,
* .scum-and-villainy #faction-items .item-body,
* .scum-and-villainy #loadout .item-body,
* .scum-and-villainy #upgrades .item-body,
* .scum-and-villainy #abilities .item-body,
* .scum-and-villainy #system-label .item-body {
  width: auto;
}
* .scum-and-villainy #planet-list .item-description {
	width: 400px;
	padding-left: 5px;
}
* .scum-and-villainy #friend-list .item-description {
	width: 300px;
}
* .scum-and-villainy #faction-items .item-description,
* .scum-and-villainy #loadout .item-description,
* .scum-and-villainy #upgrades .item-description,
* .scum-and-villainy #abilities .item-description {
  width: 300px;
}
* .scum-and-villainy #friends .label-stripe p:first-child,
* .scum-and-villainy #factions .label-stripe p:first-child,
* .scum-and-villainy #loadout .label-stripe p:first-child,
* .scum-and-villainy #loadout .label-stripe-red p:first-child,
* .scum-and-villainy #upgrades .label-stripe p:first-child,
* .scum-and-villainy #abilities .label-stripe p:first-child {
  margin-right: 10px;
}
* .scum-and-villainy .teeth-experience-red {
  display: flex;
  /* Hide the browser's default checkbox */
  position: float;
  top: 0px;
  right: 10px;
}
* .scum-and-villainy .friend-tracker {
  display: flex;
  /* Hide the browser's default checkbox */
  top: 0px;
  right: 10px;
}
* .scum-and-villainy .friend-tracker label {
  height: 30px;
  min-width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .friend-tracker label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy .friend-tracker label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .friend-tracker input {
  display: none;
}
* .scum-and-villainy .friend-tracker input + label[for$="-2"] {
  background-image: url("assets/teeth/arrow-down.png");
}
* .scum-and-villainy .friend-tracker input + label[for$="-1"] {
  background-image: url("assets/teeth/arrow-grey.png");
}
* .scum-and-villainy .friend-tracker input + label[for$="-0"] {
  background-image: url("assets/teeth/arrow-up.png");
}
* .scum-and-villainy .friend-tracker input:checked + label[for$="-2"] {
  background-image: url("assets/teeth/arrow-red.png");
}
* .scum-and-villainy .friend-tracker input:checked + label[for$="-1"] {
  background-image: url("assets/teeth/arrow-middle.png");
}
* .scum-and-villainy .friend-tracker input:checked + label[for$="-0"] {
  background-image: url("assets/teeth/arrow-blue.png");
}
* .scum-and-villainy .teeth-experience-faction {
  display: flex;
  /* Hide the browser's default checkbox */
  position: float !important;
  top: 0px;
  right: 10px;
}
* .scum-and-villainy .teeth-experience-faction label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .teeth-experience-faction label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy .teeth-experience-faction label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy .teeth-experience-faction label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy .teeth-experience-faction label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .teeth-experience-faction input {
  display: none;
}
* .scum-and-villainy .teeth-experience-faction input + label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-7"] {
  background-image: url("assets/teeth/stresstooth-blue.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-6"] {
  background-image: url("assets/teeth/stresstooth-6.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-5"] {
  background-image: url("assets/teeth/stresstooth-5.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-4"] {
  background-image: url("assets/teeth/stresstooth-4.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-3"] {
  background-image: url("assets/teeth/stresstooth-3.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-2"] {
  background-image: url("assets/teeth/stresstooth-2.png");
}
* .scum-and-villainy .teeth-experience-faction input:checked + label[for$="-1"] {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .scum-and-villainy .teeth-experience {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 10px;
}
* .scum-and-villainy .teeth-experience label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .teeth-experience-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .teeth-experience-red span {
  margin-right: 5px;
  padding-top: 5px;
}
* .scum-and-villainy .teeth-experience-red span.hover {
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .teeth-experience-red span.hover:hover {
  color:red;
}
* .scum-and-villainy .teeth-experience-red label:last-of-type,
* .scum-and-villainy .teeth-experience label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy .teeth-experience-red label[for$="-0"],
* .scum-and-villainy .teeth-experience label[for$="-0"] {
  width: auto;
  height: auto;
  padding-top: 4px;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy .teeth-experience-red label[for$="-0"]:hover,
* .scum-and-villainy .teeth-experience label[for$="-0"]:hover {
  color: red;
}
* .scum-and-villainy .teeth-experience-red label[for$="-0"] i,
* .scum-and-villainy .teeth-experience label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy .teeth-experience-red label:hover,
* .scum-and-villainy .teeth-experience label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .teeth-experience-red input,
* .scum-and-villainy .teeth-experience input {
  display: none;
}
* .scum-and-villainy .teeth-experience-red input:checked ~ label,
* .scum-and-villainy .teeth-experience input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .scum-and-villainy .teeth-experience-red input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .scum-and-villainy .teeth-experience input:checked + label {
  background-image: url("assets/teeth/stresstooth-blue.png");
}
* .scum-and-villainy #harm-armor {
  display: flex;
}
* .scum-and-villainy #harm-armor #character-harm {
  width: 100%;
}
* .scum-and-villainy #harm-armor #character-harm table {
  width: 100%;
}
* .scum-and-villainy #harm-armor #character-harm table th {
  background-color: #191813;
  color: #EEEFFF;
}
* .scum-and-villainy #harm-armor #character-harm table input[type=text] {
  width: 100%;
}
* .scum-and-villainy #harm-armor #character-health-clock {
  margin-left: 15px;
  position: relative;
}
* .scum-and-villainy #faction-list .clocks {
  max-width: 180px;
}
* .scum-and-villainy #faction-list .sav-clock {
  width: 60px;
  height: 60px;
}
* .scum-and-villainy #faction-list .sav-clock label{
  cursor: default;
}
* .scum-and-villainy #faction-list .clock-zero-label {
  display:none;
}
* .scum-and-villainy div#faction-status {
  min-width: 340px;
}
* .scum-and-villainy #clock-max select {
  margin-bottom: 10px;
}
* .scum-and-villainy div.faction-goal {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock {
  position: relative;
  padding: 0;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock input {
  position: absolute;
  display: none;
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock input[value="0"] {
  display: none;
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock * .scum-and-villainy:nth-child(3) {
  transform: rotate(-30deg) skewY(150deg);
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock * .scum-and-villainy:nth-child(5) {
  transform: rotate(30deg) skewY(150deg);
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock * .scum-and-villainy:nth-child(7) {
  transform: rotate(90deg) skewY(150deg);
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock * .scum-and-villainy:nth-child(9) {
  transform: rotate(150deg) skewY(150deg);
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock * .scum-and-villainy:nth-child(11) {
  transform: rotate(210deg) skewY(150deg);
}
* .scum-and-villainy #harm-armor #character-health-clock .sav-clock * .scum-and-villainy:nth-child(13) {
  transform: rotate(270deg) skewY(150deg);
}
* .scum-and-villainy #harm-armor #character-harm td {
  padding-left: 4px;
}
* .scum-and-villainy #harm-armor #character-armor-uses div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
* .scum-and-villainy #harm-armor #character-armor-uses div {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
* .scum-and-villainy #attributes {
  display: flex;
  flex-direction: column;
  width: 245px;
}
* .scum-and-villainy #attributes .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
* .scum-and-villainy #attributes .attribute-label,
* .scum-and-villainy #attributes .attribute-skill-label {
  font-weight: bold;
  text-transform: uppercase;
}
* .scum-and-villainy #attributes .attribute-skill-label {
  letter-spacing: 1px;
}
* .scum-and-villainy #attributes .attributes-exp {
  position: relative;
  margin-bottom: 10px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left: 40px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"]:hover {
  color: red;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red input {
  display: none;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue input {
  display: none;
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-red input:checked + label {
  background-image: url("assets/teeth/xptooth-red.png");
}
* .scum-and-villainy #attributes .attributes-exp .stripe-tooth-body-blue input:checked + label {
  background-image: url("assets/teeth/xptooth-blue.png");
}
* .scum-and-villainy #attributes .attributes-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
}
* .scum-and-villainy #attributes .attributes-container label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #attributes .attributes-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
* .scum-and-villainy #attributes .attributes-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .scum-and-villainy #attributes .attributes-container input {
  display: none;
}
* .scum-and-villainy #attributes .attributes-container input:checked ~ label {
  background-color: #EEEFFF;
}
* .scum-and-villainy #attributes .attributes-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
* .scum-and-villainy #attributes .attributes-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .scum-and-villainy #attributes .attributes-container * {
  margin-right: 5px;
}
* .scum-and-villainy #systems {
  display: flex;
  flex-direction: column;
  width: 245px;
  overflow: visible;
}
* .scum-and-villainy #systems .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
* .scum-and-villainy #systems .stripe-damage {
  background-color: #6E0101;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
* .scum-and-villainy #systems .system-label,
* .scum-and-villainy #systems .system-skill-label {
  text-transform: uppercase;
}
* .scum-and-villainy #systems .system-label-damage {
  padding-left: 25px;
  text-transform: uppercase;
}
* .scum-and-villainy #systems .system-skill-label {
  letter-spacing: 1px;
}
* .scum-and-villainy #systems .systems-value {
  position: relative;
  margin-bottom: 10px;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red {
  display: flex;
  /* Hide the browser's default checkbox */
  top: 0px;
  right: 0px;
}
* .scum-and-villainy #system-upgrades .item .item-body {
	max-width: 150px;
}
* .scum-and-villainy #system-subitem.stripe-tooth-body-red {
	position: absolute;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue {
  display: flex;
  /* Hide the browser's default checkbox */
  top: 0px;
  right: 0px;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red input {
  display: none;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue input {
  display: none;
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-red input:checked + label {
  background-image: url("assets/teeth/xptooth-red.png");
}
* .scum-and-villainy #systems .systems-value .stripe-tooth-body-blue input:checked + label {
  background-image: url("assets/teeth/xptooth-blue.png");
}
* .scum-and-villainy #systems .systems-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
}
* .scum-and-villainy #systems .systems-container label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #systems .systems-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
* .scum-and-villainy #systems .systems-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .scum-and-villainy #systems .systems-container input {
  display: none;
}
* .scum-and-villainy #systems .systems-container input:checked ~ label {
  background-color: #EEEFFF;
}
* .scum-and-villainy #systems .systems-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
* .scum-and-villainy #systems .systems-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* .scum-and-villainy #systems .systems-container * {
  margin-right: 5px;
}
* .scum-and-villainy .item {
  justify-content: space-between;
  font-weight: bold;
}
* .scum-and-villainy #abilities .item,
* .scum-and-villainy #loadout .item,
* .scum-and-villainy #friends .item,
* .scum-and-villainy #upgrades .item {
    margin-right: 5px;
}
* .scum-and-villainy .item .ship-body,
* .scum-and-villainy .item .item-body {
  margin-bottom: 5px;
  margin-right: 5px;
}
* .scum-and-villainy .item .ship-body *,
* .scum-and-villainy .item .item-body * {
  margin-right: 10px;
}
* .scum-and-villainy .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
* .scum-and-villainy #all-items .item div {
	flex-grow: 4;
}
* .scum-and-villainy .item-block .item div {
  flex-grow: 3;
}
* .scum-and-villainy .item .item-control {
  flex-grow: 1;
}
* .scum-and-villainy #all-items .item .item-body {
	width: auto;
}
* .scum-and-villainy .item .ship-body,
* .scum-and-villainy .item .item-body,
* .scum-and-villainy .item .item-class-label {
  width: 135px;
}
* .scum-and-villainy .item-class-label {
  margin-bottom: 10px;
}
* .scum-and-villainy #name,
* .scum-and-villainy #look,
* .scum-and-villainy #alias,
* .scum-and-villainy #designation {
  margin-bottom: 10px;
  display: flex;
}
* .scum-and-villainy #name label,
* .scum-and-villainy #look label,
* .scum-and-villainy #alias label,
* .scum-and-villainy #designation label {
  padding-right: 4px;
  padding-top: 3px;
}
* .scum-and-villainy .character-healing-clock,
* .scum-and-villainy .coins {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
}
* .scum-and-villainy .coins label {
  height: 15px;
  width: 15px;
  background-color: #DAA520;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .coins.healing label,
* .scum-and-villainy .coins.debt label {
  height: 15px;
  width: 15px;
  background-color: #FC0303;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .coins.gambits label {
  height: 15px;
  width: 15px;
  background-color: #03A33E;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .coins.loadout label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .abilities label {
  height: 15px;
  width: 15px;
  background-color: #eeefff;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: default;
  margin-left: 5px;
  margin-top: 2px;
}
* .scum-and-villainy .coins label[for$="-0"] {
  margin-right: 0px;
}
* .scum-and-villainy .coins label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .coins input,
* .scum-and-villainy .abilities input {
  display: none;
}
* .scum-and-villainy .coins input:checked ~ label {
  background-color: #EEEFFF;
}
* .scum-and-villainy .coins input:checked + label {
  background-color: #DAA520;
}
* .scum-and-villainy .coins.healing input:checked + label,
* .scum-and-villainy .coins.debt input:checked + label {
  background-color: #FC0303;
}
* .scum-and-villainy .coins.gambits input:checked + label {
  background-color: #03A33E;
}
* .scum-and-villainy .coins.loadout input:checked + label {
  background-color: #191813;
}
* .scum-and-villainy .abilities input:checked + label {
  background-color: #191813;
}
* .scum-and-villainy #loadout-max .coins label {
  margin-left: 15px;
}
* .scum-and-villainy #loadout-max div > span {
  margin-left: 25px;
}
* .scum-and-villainy #coins div.stripe,
* .scum-and-villainy #loadout-max div.stripe {
  padding-bottom: 4px;
  padding-top: 5px;
}
* .scum-and-villainy .coins input ~ label {
  margin-right: 3px;
  margin-bottom: 3px;
  transition: filter 0.2s;
  cursor: pointer;
}
* .scum-and-villainy .coins input ~ label[for$="0"] {
  border-width: 2px;
}
* .scum-and-villainy .coins input ~ label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .coins.healing {
  width: 42px;
}
* .scum-and-villainy .coins.coins-hands {
  width: 72px;
}
* .scum-and-villainy .coins.coins-stashed {
  width: 190px;
}
* .scum-and-villainy .crew-coins {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
  max-width: 72px;
}
* .scum-and-villainy .crew-coins label {
  height: 15px;
  width: 15px;
  background-color: #DAA520;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .crew-coins label[for$="-0"] {
  margin-right: 0px;
}
* .scum-and-villainy .crew-coins label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .crew-coins input {
  display: none;
}
* .scum-and-villainy .crew-coins input:checked ~ label {
  background-color: #EEEFFF;
}
* .scum-and-villainy .crew-coins input:checked + label {
  background-color: #DAA520;
}
* .scum-and-villainy .crew-coins label {
  margin-right: 3px;
  margin-bottom: 3px;
}
* .scum-and-villainy #crew-reputation {
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
}
* .scum-and-villainy #crew-reputation label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #crew-reputation label:last-of-type {
  margin-right: 0px;
}
* .scum-and-villainy #crew-reputation label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .scum-and-villainy #crew-reputation label[for$="-0"] i {
  margin-top: 4px;
}
* .scum-and-villainy #crew-reputation label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #crew-reputation input {
  display: none;
}
* .scum-and-villainy #crew-reputation input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .scum-and-villainy #crew-reputation input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .scum-and-villainy #crew-reputation input[disabled=disabled] + label {
  background-image: url(assets/teeth/stresstooth-black.png);
}
* .scum-and-villainy #crew-qual {
  background-color: #999;
  height: 33px;
  width: 145px;
  display: flex;
  align-items: center;
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
}
* .scum-and-villainy #crew-qual label {
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy #crew-qual label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy #crew-qual label:not([for$="-0"]) {
  height: 18px;
  width: 18px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 9px;
}
* .scum-and-villainy #crew-qual input {
  display: none;
}
* .scum-and-villainy #crew-qual input:checked ~ label:not([for$="-0"]) {
  border-color: gray;
  background-color: #EEEFFF;
}
* .scum-and-villainy #crew-qual input:checked + label:not([for$="-0"]) {
  background-color: #191813;
  border-color: #191813;
}
* .scum-and-villainy #crew-qual > * {
  margin-right: 5px;
}
* .scum-and-villainy #heat-wanted {
  justify-content: none;
}
* .scum-and-villainy .experience-clues-container {
  width: 340px;
  font-size: 12px;
}
* .scum-and-villainy .experience-clues-container .experience-clues-description {
  font-weight: bold;
}
* .scum-and-villainy .experience-clues-container .experience-clues {
  font-style: italic;
}
* .scum-and-villainy .class-name {
  width: 512px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 48px;
  text-transform: uppercase;
  border: 3px solid #191813;
}
* .scum-and-villainy .class-name .big-name {
  font-weight: bold;
}
* .scum-and-villainy .class-name .big-description {
  font-size: 20px;
  color: #191813;
}
* .scum-and-villainy .edgeflaw input {
  display: none;
}
* .scum-and-villainy .edgeflaw input:checked + label {
  color: red;
}
* .scum-and-villainy #gang-expert-type-selector #gang-type-boxes {
  flex-wrap: wrap;
}
* .scum-and-villainy .cohorts {
  flex-wrap: wrap;
}
* .scum-and-villainy .cohorts .cohort-block-wrapper {
  width: 400px;
}
* .scum-and-villainy .cohorts .label-stripe {
  margin-bottom: 0px;
}
* .scum-and-villainy .cohorts .cohort-body > div {
  margin-bottom: 10px;
}
* .scum-and-villainy .cohorts .cohort-block-harm {
  justify-content: space-around;
}
* .scum-and-villainy .cohorts .cohort-block-harm input[type=radio] {
  display: none;
}
* .scum-and-villainy .cohorts .cohort-block-harm input[type=radio]:checked + label {
  color: #EEEFFF;
  font-weight: bold;
  background-color: #191813;
}
* .scum-and-villainy .cohorts .cohort-block-harm label {
  border: 2px solid #191813;
  border-top: none;
  padding: 5px;
}
* #items-to-add.scum-and-villainy  {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
* #items-to-add.scum-and-villainy input[type=radio],
* #items-to-add.scum-and-villainy input[type=checkbox] {
  display: none;
}
* #items-to-add.scum-and-villainy input[type=radio]:checked + label,
* #items-to-add.scum-and-villainy input[type=checkbox]:checked + label {
  font-weight: bolder;
  text-transform: uppercase;
}
* #items-to-add.scum-and-villainy div.flex {
  height: 20px;
}
* .scum-and-villainy .sav-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 10px;
}
* .scum-and-villainy .sav-die-tooltip .die.great,
* .scum-and-villainy .sav-die-tooltip .die.critical-resist,
* .scum-and-villainy .sav-die-tooltip .die.critical-success {
  color: #12a012;
}
* .scum-and-villainy .sav-die-tooltip .die.nodamage,
* .scum-and-villainy .sav-die-tooltip .die.standard,
* .scum-and-villainy .sav-die-tooltip .die.resist,
* .scum-and-villainy .sav-die-tooltip .die.success {
  color: #008000;
}
* .scum-and-villainy .sav-die-tooltip .die.malfunction,
* .scum-and-villainy .sav-die-tooltip .die.limited,
* .scum-and-villainy .sav-die-tooltip .die.partial-success {
  color: #04578f;
}
* .scum-and-villainy .sav-die-tooltip .die.damaged,
* .scum-and-villainy .sav-die-tooltip .die.poor,
* .scum-and-villainy .sav-die-tooltip .die.failure {
  color: red;
}
* .scum-and-villainy form .rollRadio input {
  display: none;
}
* .scum-and-villainy form .rollRadio label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy form div.rollRadio {
  display: flex;
}
* .scum-and-villainy form .rollRadio input:checked + label {
  color: red;
  font-weight: bold;
  text-decoration: underline 2px;
}
* .scum-and-villainy .clock-zero-label {
  color: #191813;
}
* .scum-and-villainy .sav-clock {
  position: relative;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .scum-and-villainy .sav-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .scum-and-villainy .sav-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .scum-and-villainy .sav-clock input {
  position: absolute;
  display: none;
}
* .scum-and-villainy .sav-clock.clock-4 input[value="0"] {
  display: none;
}
* .scum-and-villainy .sav-clock.clock-4 *:nth-child(3) {
  transform: rotate(-45deg) skewY(180deg);
}
* .scum-and-villainy .sav-clock.clock-4 *:nth-child(5) {
  transform: rotate(45deg) skewY(180deg);
}
* .scum-and-villainy .sav-clock.clock-4 *:nth-child(7) {
  transform: rotate(135deg) skewY(180deg);
}
* .scum-and-villainy .sav-clock.clock-4 *:nth-child(9) {
  transform: rotate(225deg) skewY(180deg);
}
* .scum-and-villainy .sav-clock.clock-6 input[value="0"] {
  display: none;
}
* .scum-and-villainy .sav-clock.clock-6 *:nth-child(3) {
  transform: rotate(-30deg) skewY(150deg);
}
* .scum-and-villainy .sav-clock.clock-6 *:nth-child(5) {
  transform: rotate(30deg) skewY(150deg);
}
* .scum-and-villainy .sav-clock.clock-6 *:nth-child(7) {
  transform: rotate(90deg) skewY(150deg);
}
* .scum-and-villainy .sav-clock.clock-6 *:nth-child(9) {
  transform: rotate(150deg) skewY(150deg);
}
* .scum-and-villainy .sav-clock.clock-6 *:nth-child(11) {
  transform: rotate(210deg) skewY(150deg);
}
* .scum-and-villainy .sav-clock.clock-6 *:nth-child(13) {
  transform: rotate(270deg) skewY(150deg);
}
* .scum-and-villainy .sav-clock.clock-8 input[value="0"] {
  display: none;
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(3) {
  transform: rotate(-22.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(5) {
  transform: rotate(22.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(7) {
  transform: rotate(67.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(9) {
  transform: rotate(112.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(11) {
  transform: rotate(157.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(13) {
  transform: rotate(202.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(15) {
  transform: rotate(247.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-8 *:nth-child(17) {
  transform: rotate(292.5deg) skewY(135deg);
}
* .scum-and-villainy .sav-clock.clock-10 input[value="0"] {
  display: none;
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(3) {
  transform: rotate(-18deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(5) {
  transform: rotate(18deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(7) {
  transform: rotate(54deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(9) {
  transform: rotate(90deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(11) {
  transform: rotate(126deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(13) {
  transform: rotate(162deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(15) {
  transform: rotate(198deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(17) {
  transform: rotate(234deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(19) {
  transform: rotate(270deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-10 *:nth-child(21) {
  transform: rotate(306deg) skewY(127.5deg);
}
* .scum-and-villainy .sav-clock.clock-12 input[value="0"] {
  display: none;
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(3) {
  transform: rotate(-15deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(5) {
  transform: rotate(15deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(7) {
  transform: rotate(45deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(9) {
  transform: rotate(75deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(11) {
  transform: rotate(105deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(13) {
  transform: rotate(135deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(15) {
  transform: rotate(165deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(17) {
  transform: rotate(195deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(19) {
  transform: rotate(225deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(21) {
  transform: rotate(255deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(23) {
  transform: rotate(285deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock.clock-12 *:nth-child(25) {
  transform: rotate(315deg) skewY(123.75deg);
}
* .scum-and-villainy .sav-clock-name-type > * {
  margin-bottom: 10px;
  max-width: 220px;
}
* .scum-and-villainy .nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
* .scum-and-villainy .nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: red;
}
.clocks.sheet .scum-and-villainy  .clock-progress {
  text-align: center;
}
.clocks.sheet .scum-and-villainy  .clock-name {
  height: 60px;
  text-align: left;
}
.clocks.sheet .scum-and-villainy  .clock-name input {
  height: 40px;
  line-height: 48px;
  font-size: 32px;
  width: 100%;
  background: none;
  border: 1px solid transparent;
  padding: 1px 3px;
  font-family: "Exo2", "Signika", sans-serif;
  border-radius: 3px;
  color: rgb(25, 24, 19);
  margin: 0;
}
.clocks.sheet .scum-and-villainy  .clock-name.editable input:hover, .clocks.sheet .clock-name.editable input:focus {
  border: 1px solid rgb(25, 24, 19);
}
.clocks.sheet .scum-and-villainy  .clock-progress button {
  width: 140px;
  margin: 0;
}
.clocks.sheet .scum-and-villainy  .clock-progress button[name=reset] {
  width: 40px;
}
.clocks.sheet .scum-and-villainy  .clock-progress button:disabled {
  color: #aaaaaa;
  border: none;
}
.clocks.sheet .scum-and-villainy  .clock-image img {
  border: none;
  padding: 10px;
}
.clocks.sheet .scum-and-villainy  .clock-config {
  text-align: center;
}
.clocks.sheet .scum-and-villainy  .clock-config .clock-config-group {
  margin-left: 1.5em;
  display: inline-block;
}
.clocks.sheet .scum-and-villainy  .clock-config .clock-config-group:first-child {
  margin-left: 0;
}
.clocks.sheet .scum-and-villainy  .clock-config .clock-config-group label {
  margin-right: 3px;
}
.clocks.sheet .scum-and-villainy  .clock-config .clock-config-group select {
  width: 50px;
}
.clocks.sheet .scum-and-villainy  .clock-config .clock-config-group.theme select {
  width: 175px;
}
.clocks.sheet .scum-and-villainy  .clock-debug {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  font-family: monospace;
}

/*# FACTION SHEET */
.fs-faction-dialog {
padding: 0px;
}

.faction-status-sheet {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
}

.fs-factions{
  margin: 0px;
  margin-right: 0px;
  padding: 0px;
}

.fs-faction-type{
  display: flex;
  flex-direction: row;
  background-color: #000;
  vertical-align: middle;
  color: #ffffff;
  align-items: center;
  padding-left: 3px;
}


.fs-faction-title{
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
}

.fs-column-labels {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight:normal;
  vertical-align: middle;
  border: 1px solid #838383;
  margin-bottom: 4px;
  margin-left: 0px;
  align-content: center;
  color: #e8e8e8;
  background-color: #000000;

}

.fs-label-tier {
  width: 36px;
  text-align: center;
  justify-content: center;
}

.fs-label-faction{
    display: flex;
  flex:0 0 140px;
  width: 140px;
  text-align: left;
  padding-left: 4px;

}

.fs-label-status{
  width: 118px;
  text-align: right;
}


.fs-label-jobs{
  text-align: left;
  padding-left: 8px;
}

.fs-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-right: 0px;
    padding: 0px;
}

.fs-grid-item {
    text-align: center;
}

.faction-status-items{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #838383;
  margin-bottom: 4px;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  height: 42px;
}

.fs-column{
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.fs-tier-label{
  margin: 0px;
}

.fs-column-tier {
  display: flex;
  justify-content: center;
  flex:0 0 36px;
  align-content: center;
  width: 36px;
}

.fs-column-faction-name {
  display: flex;
  flex:0 0 150px;
  width: 150px;
  align-items: center;
  margin:0px;
  padding-left: 4px;
  padding-right:4px;
}

.fs-faction-name{
  width: 100%;
  hyphens: auto;
  overflow-wrap:anywhere;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.fs-tooltip-fix{
  margin:0px;
}

.fs-column-status-label {
  flex:0 0 84px;
  width: 84px;
  padding-left: 0px;
}

.fs-faction-status-span {
  display: inline-block;
  width: 84px;
  text-align: left;
  padding-left: 0px;
}

.fs-value-readout{
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: right;
  line-height: 12px;
  margin: 0px;
}

.fs-column-status-control {
  display: flex;
  width: 60px;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}

 .fs-control{
  color: #c1c1c1;
 }

 .fs-control:hover{
  color: rgb(0, 0, 0);
 }

.fs-control-arrows {
  display: flex;
  flex-direction: column;
  justify-content: left;
  vertical-align: middle;
  width: 20px;
}

.fs-action-up{
  vertical-align: bottom;
}

.fs-action-down{
  vertical-align: top;
}

.fs-value-label{
  margin: 0px;
}

.fs-column-item-controls {
  padding-right: 16px;
  width: 72px;
  justify-content:right;
  text-align: right;
  margin-left: 12px ;
}

.fs-bottom-bar{
  display: flex;
  height:64px;
  justify-content: center;
  align-items: center;
}
.fs-add-faction {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

/*# sourceMappingURL=sav.css.map */
