/*
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
/*
 * General Styles
 */
:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;
}
@font-face {
  font-family: 'Exo2';
  src: url("assets/fonts/Exo2-VariableFont_wght.ttf");
}
* {
	font-family: 'Exo2', 'Signika', sans-serif;
}
* header {
  margin-bottom: 10px;
}
* ul {
  list-style: none;
}
* form.actor-sheet {
  padding: 20px;
}
* form .form-group.roll > * {
    flex: 3;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 0%;
}
.placeable-hud .control-icon:first-child {
  margin-top: 8px;
}
.window-app .window-content {
	background: linear-gradient(rgba(216, 227, 230, 0.75), rgba(121, 129, 130, 0.75)),
    url('assets/brushed_metal.jpg') repeat;
}
.chat-message {
	background: linear-gradient(rgba(216, 227, 230, 0.75), rgba(121, 129, 130, 0.75)),
    url('assets/brushed_metal.jpg') repeat;
}
.dice-tooltip .dice-rolls .roll.savd6 {
	background: url('assets/icons/d6-black.svg');
	color: var(--almost_white);
	background-size: 24px 24px;
}
* .dialog-buttons {
	margin-top: 5px;
}
* textarea {
  margin-top: 10px;
  margin-bottom: 20px;
}
* td {
  padding: 5px;
}
* section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* section > *:not(.label-stripe) {
  margin-right: 10px;
}
* section > *:not(.label-stripe):last-child {
  margin-right: 0px;
}
* section .grow-one {
  flex-grow: 1;
}
* section .grow-two {
  flex-grow: 2;
}
* section.experience {
  margin-bottom: 0px;
  justify-content: center;
}
* nav {
  margin-bottom: 10px;
}
* .editor,
* .editor-content {
  min-height: 280px;
}
* .flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* .flex-vertical {
  display: flex;
  flex-direction: column;
}
* .black-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .gray-label {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-label {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}
* .chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}
* .chat-label-small-red {
  background-color: red;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
}
* .label-stripe {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe .hoverlink {
  cursor: pointer;
  transition: filter 0.1s;
}
* .label-stripe .hoverlink:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .label-stripe-red {
  text-transform: uppercase;
  background-color: #191813;
  color: red;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-gray {
  text-transform: uppercase;
  background-color: #92a6ad;
  margin-bottom: 10px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}
* .label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .label-stripe-chat-small-red {
  text-transform: capitalize;
  background-color: red;
  color: #191813;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}
* .description {
  font-style: italic;
}
* .rollable-text {
  transition: color 0.2s;
}
* .rollable-text:hover {
  cursor: pointer;
  color: red;
}
* .rollable-text label:hover {
  cursor: pointer;
  color: red !important;
}
* #stress-vice {
  width: 72px;
}
* .big-teeth-section {
  border-top: 3px solid #191813;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  /* Trauma */
}
* .big-teeth-section > * {
  margin-right: 10px;
}
* .big-teeth-section > *:last-child {
  margin-right: 0px;
}
* .big-teeth-section:last-child {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth {
  display: flex;
  /* Hide the browser's default checkbox */
}
* .big-teeth-section .big-teeth label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .big-teeth-section .big-teeth label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .big-teeth label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .big-teeth label[for$="-0"]:hover {
  color: red;
}
* .big-teeth-section .big-teeth label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .big-teeth input {
  display: none;
}
* .big-teeth-section .big-teeth input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .big-teeth-section .big-teeth input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/shorttooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  cursor: not-allowed;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input {
  display: none;
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-red.png");
}
* .big-teeth-section .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
}
* .big-teeth-section #trauma-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
* .big-teeth-section #trauma-list label {
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  transition: filter 0.1s;
  cursor: pointer;
  /* Hide the browser's default checkbox */
}
* .big-teeth-section #trauma-list label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .big-teeth-section #trauma-list label input {
  display: none;
}
* .big-teeth-section #trauma-list label input:checked ~ .checkmark {
  color: red;
}
* .big-teeth-section #trauma-list label .checkmark {
  text-decoration: none;
  font-weight: bold;
}
* #character-stress label[for$="-0"] {
  margin-right: 0px;
}
* #friend-list .item-name {
	width: 60px;
}
* #upgrades .item-name,
* #abilities .item-name,
* #loadout .item-name {
	width: 120px;
}
* #all-items .item-name {
	width: 300px;
}
* #faction-items .item-name {
  width: 120px;
}
* #all-items .item .item-body {
	max-width: 15rem;
}
* #friend-list .item .item-body {
	margin-left: 20px;
}
* #planet-list .item-body {
	max-width: 5rem;
}
* #friend-list .item-body,
* #faction-items .item-body,
* #loadout .item-body,
* #upgrades .item-body,
* #abilities .item-body {
  width: auto;
}
* #planet-list .item-description {
	width: 400px;
	padding-left: 5px;
}
* #friend-list .item-description {
	width: 300px;
}
* #faction-items .item-description,
* #loadout .item-description,
* #upgrades .item-description,
* #abilities .item-description {
  width: 300px;
}
* #friends .label-stripe p:first-child,
* #factions .label-stripe p:first-child,
* #loadout .label-stripe p:first-child,
* #loadout .label-stripe-red p:first-child,
* #upgrades .label-stripe p:first-child,
* #abilities .label-stripe p:first-child {
  margin-right: 10px;
}
* .teeth-experience-red {
  display: flex;
  /* Hide the browser's default checkbox */
  position: float;
  top: 0px;
  right: 10px;
}
* .friend-tracker {
  display: flex;
  /* Hide the browser's default checkbox */
  top: 0px;
  right: 10px;
}
* .friend-tracker label {
  height: 30px;
  min-width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .friend-tracker label:last-of-type {
  margin-right: 0px;
}
* .friend-tracker label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .friend-tracker input {
  display: none;
}
* .friend-tracker input + label[for$="-2"] {
  background-image: url("assets/teeth/arrow-down.png");
}
* .friend-tracker input + label[for$="-1"] {
  background-image: url("assets/teeth/arrow-grey.png");
}
* .friend-tracker input + label[for$="-0"] {
  background-image: url("assets/teeth/arrow-up.png");
}
* .friend-tracker input:checked + label[for$="-2"] {
  background-image: url("assets/teeth/arrow-red.png");
}
* .friend-tracker input:checked + label[for$="-1"] {
  background-image: url("assets/teeth/arrow-middle.png");
}
* .friend-tracker input:checked + label[for$="-0"] {
  background-image: url("assets/teeth/arrow-blue.png");
}
* .teeth-experience-faction {
  display: flex;
  /* Hide the browser's default checkbox */
  position: float !important;
  top: 0px;
  right: 10px;
}
* .teeth-experience-faction label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .teeth-experience-faction label:last-of-type {
  margin-right: 0px;
}
* .teeth-experience-faction label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* .teeth-experience-faction label[for$="-0"] i {
  margin-top: 4px;
}
* .teeth-experience-faction label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .teeth-experience-faction input {
  display: none;
}
* .teeth-experience-faction input + label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .teeth-experience-faction input:checked + label[for$="-7"] {
  background-image: url("assets/teeth/stresstooth-blue.png");
}
* .teeth-experience-faction input:checked + label[for$="-6"] {
  background-image: url("assets/teeth/stresstooth-6.png");
}
* .teeth-experience-faction input:checked + label[for$="-5"] {
  background-image: url("assets/teeth/stresstooth-5.png");
}
* .teeth-experience-faction input:checked + label[for$="-4"] {
  background-image: url("assets/teeth/stresstooth-4.png");
}
* .teeth-experience-faction input:checked + label[for$="-3"] {
  background-image: url("assets/teeth/stresstooth-3.png");
}
* .teeth-experience-faction input:checked + label[for$="-2"] {
  background-image: url("assets/teeth/stresstooth-2.png");
}
* .teeth-experience-faction input:checked + label[for$="-1"] {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .teeth-experience {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 10px;
}
* .teeth-experience label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .teeth-experience-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* .teeth-experience-red label:last-of-type,
* .teeth-experience label:last-of-type {
  margin-right: 0px;
}
* .teeth-experience-red label[for$="-0"],
* .teeth-experience label[for$="-0"] {
  width: auto;
  height: auto;
  padding-top: 4px;
  background-image: none !important;
  color: #EEEFFF;
}
* .teeth-experience-red label[for$="-0"]:hover,
* .teeth-experience label[for$="-0"]:hover {
  color: red;
}
* .teeth-experience-red label[for$="-0"] i,
* .teeth-experience label[for$="-0"] i {
  margin-top: 4px;
}
* .teeth-experience-red label:hover,
* .teeth-experience label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .teeth-experience-red input,
* .teeth-experience input {
  display: none;
}
* .teeth-experience-red input:checked ~ label,
* .teeth-experience input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* .teeth-experience-red input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* .teeth-experience input:checked + label {
  background-image: url("assets/teeth/stresstooth-blue.png");
}
* #harm-armor {
  display: flex;
}
* #harm-armor #character-harm {
  width: 100%;
}
* #harm-armor #character-harm table {
  width: 100%;
}
* #harm-armor #character-harm table th {
  background-color: #191813;
  color: #EEEFFF;
}
* #harm-armor #character-harm table input[type=text] {
  width: 100%;
}
* #harm-armor #character-health-clock {
  margin-left: 25px;
  position: relative;
}
* #harm-armor #character-health-clock .sav-clock {
  position: relative;
  padding: 0;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* #harm-armor #character-health-clock .sav-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* #harm-armor #character-health-clock .sav-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #harm-armor #character-health-clock .sav-clock input {
  position: absolute;
  display: none;
}
* #harm-armor #character-health-clock .sav-clock input[value="0"] {
  display: none;
}
* #harm-armor #character-health-clock .sav-clock *:nth-child(3) {
  transform: rotate(-30deg) skewY(150deg);
}
* #harm-armor #character-health-clock .sav-clock *:nth-child(5) {
  transform: rotate(30deg) skewY(150deg);
}
* #harm-armor #character-health-clock .sav-clock *:nth-child(7) {
  transform: rotate(90deg) skewY(150deg);
}
* #harm-armor #character-health-clock .sav-clock *:nth-child(9) {
  transform: rotate(150deg) skewY(150deg);
}
* #harm-armor #character-health-clock .sav-clock *:nth-child(11) {
  transform: rotate(210deg) skewY(150deg);
}
* #harm-armor #character-health-clock .sav-clock *:nth-child(13) {
  transform: rotate(270deg) skewY(150deg);
}
* #harm-armor #character-armor-uses div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* #attributes {
  display: flex;
  flex-direction: column;
  width: 245px;
}
* #attributes .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
* #attributes .attribute-label,
* #attributes .attribute-skill-label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
* #attributes .attribute-skill-label {
  letter-spacing: 1px;
}
* #attributes .attributes-exp {
  position: relative;
  margin-bottom: 10px;
}
* #attributes .attributes-exp .stripe-tooth-body-red {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
}
* #attributes .attributes-exp .stripe-tooth-body-blue {
  display: flex;
  /* Hide the browser's default checkbox */
  position: absolute;
  top: 0px;
  right: 0px;
  margin-left: 40px;
}
* #attributes .attributes-exp .stripe-tooth-body-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #attributes .attributes-exp .stripe-tooth-body-red label:last-of-type {
  margin-right: 0px;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label:last-of-type {
  margin-right: 0px;
}
* #attributes .attributes-exp .stripe-tooth-body-red label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"]:hover {
  color: red;
}
* #attributes .attributes-exp .stripe-tooth-body-red label[for$="-0"] i {
  margin-top: 4px;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label[for$="-0"] i {
  margin-top: 4px;
}
* #attributes .attributes-exp .stripe-tooth-body-red label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #attributes .attributes-exp .stripe-tooth-body-blue label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #attributes .attributes-exp .stripe-tooth-body-red input {
  display: none;
}
* #attributes .attributes-exp .stripe-tooth-body-blue input {
  display: none;
}
* #attributes .attributes-exp .stripe-tooth-body-red input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* #attributes .attributes-exp .stripe-tooth-body-blue input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* #attributes .attributes-exp .stripe-tooth-body-red input:checked + label {
  background-image: url("assets/teeth/xptooth-red.png");
}
* #attributes .attributes-exp .stripe-tooth-body-blue input:checked + label {
  background-image: url("assets/teeth/xptooth-blue.png");
}
* #attributes .attributes-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
}
* #attributes .attributes-container label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #attributes .attributes-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
* #attributes .attributes-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* #attributes .attributes-container input {
  display: none;
}
* #attributes .attributes-container input:checked ~ label {
  background-color: #EEEFFF;
}
* #attributes .attributes-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
* #attributes .attributes-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* #attributes .attributes-container * {
  margin-right: 5px;
}
* #systems {
  display: flex;
  flex-direction: column;
  width: 200px;
}
* #systems .stripe {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
* #systems .stripe-damage {
  background-color: #6E0101;
  color: #EEEFFF;
  font-size: 17px;
  padding-left: 5px;
}
* #systems .system-label,
* #systems .system-skill-label {
  text-transform: uppercase;
}
* #systems .system-label-damage {
  padding-left: 25px;
  text-transform: uppercase;
}
* #systems .system-skill-label {
  letter-spacing: 1px;
}
* #systems .systems-value {
  position: relative;
  margin-bottom: 10px;
}
* #systems .systems-value .stripe-tooth-body-red {
  display: flex;
  /* Hide the browser's default checkbox */
  top: 0px;
  right: 0px;
}
* #system-upgrades .item .item-body {
	max-width: 150px;
}
* #system-subitem.stripe-tooth-body-red {
	position: absolute;
}
* #systems .systems-value .stripe-tooth-body-blue {
  display: flex;
  /* Hide the browser's default checkbox */
  top: 0px;
  right: 0px;
}
* #systems .systems-value .stripe-tooth-body-red label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #systems .systems-value .stripe-tooth-body-blue label {
  height: 30px;
  width: 10px;
  background-image: url("assets/teeth/xptooth-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #systems .systems-value .stripe-tooth-body-red label:last-of-type {
  margin-right: 0px;
}
* #systems .systems-value .stripe-tooth-body-blue label:last-of-type {
  margin-right: 0px;
}
* #systems .systems-value .stripe-tooth-body-red label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #systems .systems-value .stripe-tooth-body-blue label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #systems .systems-value .stripe-tooth-body-red label[for$="-0"] i {
  margin-top: 4px;
}
* #systems .systems-value .stripe-tooth-body-blue label[for$="-0"] i {
  margin-top: 4px;
}
* #systems .systems-value .stripe-tooth-body-red label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #systems .systems-value .stripe-tooth-body-blue label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #systems .systems-value .stripe-tooth-body-red input {
  display: none;
}
* #systems .systems-value .stripe-tooth-body-blue input {
  display: none;
}
* #systems .systems-value .stripe-tooth-body-red input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* #systems .systems-value .stripe-tooth-body-blue input:checked ~ label {
  background-image: url("assets/teeth/xptooth-white.png");
}
* #systems .systems-value .stripe-tooth-body-red input:checked + label {
  background-image: url("assets/teeth/xptooth-red.png");
}
* #systems .systems-value .stripe-tooth-body-blue input:checked + label {
  background-image: url("assets/teeth/xptooth-blue.png");
}
* #systems .systems-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
}
* #systems .systems-container label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #systems .systems-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
* #systems .systems-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* #systems .systems-container input {
  display: none;
}
* #systems .systems-container input:checked ~ label {
  background-color: #EEEFFF;
}
* #systems .systems-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
* #systems .systems-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
* #systems .systems-container * {
  margin-right: 5px;
}
* .item {
  justify-content: space-between;
  font-weight: bold;
}
* #abilities .item,
* #loadout .item,
* #friends .item,
* #upgrades .item {
    margin-right: 5px;
}
* .item .ship-body,
* .item .item-body {
  margin-bottom: 10px;
}
* .item .ship-body *,
* .item .item-body * {
  margin-right: 10px;
}
* .item .item-body .item-description {
  font-style: italic;
  text-align: justify;
}
* #all-items .item div {
	flex-grow: 0;
}
* .item div {
  flex-grow: 3;
}
* .item .item-control {
  flex-grow: 1;
}
* #all-items .item .item-body {
	width: auto;
}
* .item .ship-body,
* .item .item-body,
* .item .item-class-label {
  width: 135px;
}
* .item-class-label {
  margin-bottom: 10px;
}
* #name,
* #lair,
* #alias {
  margin-bottom: 10px;
}
* .character-healing-clock,
* .coins {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
}
* .coins label {
  height: 15px;
  width: 15px;
  background-color: #DAA520;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .coins.healing label,
* .coins.debt label {
  height: 15px;
  width: 15px;
  background-color: #FC0303;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .coins.gambits label {
  height: 15px;
  width: 15px;
  background-color: #03A33E;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .coins.loadout label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .coins label[for$="-0"] {
  margin-right: 0px;
}
* .coins label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .coins input {
  display: none;
}
* .coins input:checked ~ label {
  background-color: #EEEFFF;
}
* .coins input:checked + label {
  background-color: #DAA520;
}
* .coins.healing input:checked + label,
* .coins.debt input:checked + label {
  background-color: #FC0303;
}
* .coins.gambits input:checked + label {
  background-color: #03A33E;
}
* .coins.loadout input:checked + label {
  background-color: #191813;
}
* #loadout-max .coins label {
  margin-left: 15px;
}
* .coins input ~ label {
  margin-right: 3px;
  margin-bottom: 3px;
  transition: filter 0.2s;
  cursor: pointer;
}
* .coins input ~ label[for$="0"] {
  border-width: 2px;
}
* .coins input ~ label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .coins.healing {
  width: 42px;
}
* .coins.coins-hands {
  width: 72px;
}
* .coins.coins-stashed {
  width: 190px;
}
* .crew-coins {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
  max-width: 72px;
}
* .crew-coins label {
  height: 15px;
  width: 15px;
  background-color: #DAA520;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
* .crew-coins label[for$="-0"] {
  margin-right: 0px;
}
* .crew-coins label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .crew-coins input {
  display: none;
}
* .crew-coins input:checked ~ label {
  background-color: #EEEFFF;
}
* .crew-coins input:checked + label {
  background-color: #DAA520;
}
* .crew-coins label {
  margin-right: 3px;
  margin-bottom: 3px;
}
* #crew-reputation {
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
}
* #crew-reputation label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
* #crew-reputation label:last-of-type {
  margin-right: 0px;
}
* #crew-reputation label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
* #crew-reputation label[for$="-0"] i {
  margin-top: 4px;
}
* #crew-reputation label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #crew-reputation input {
  display: none;
}
* #crew-reputation input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
* #crew-reputation input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
* #crew-reputation input[disabled=disabled] + label {
  background-image: url(assets/teeth/stresstooth-black.png);
}
* #crew-qual {
  background-color: #999;
  height: 33px;
  width: 145px;
  display: flex;
  align-items: center;
  border-top: 3px solid #191813;
  display: flex;
  /* Hide the browser's default checkbox */
}
* #crew-qual label {
  transition: filter 0.1s;
  cursor: pointer;
}
* #crew-qual label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* #crew-qual label:not([for$="-0"]) {
  height: 18px;
  width: 18px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 9px;
}
* #crew-qual input {
  display: none;
}
* #crew-qual input:checked ~ label:not([for$="-0"]) {
  border-color: gray;
  background-color: #EEEFFF;
}
* #crew-qual input:checked + label:not([for$="-0"]) {
  background-color: #191813;
  border-color: #191813;
}
* #crew-qual > * {
  margin-right: 5px;
}
* #heat-wanted {
  justify-content: none;
}
* .experience-clues-container {
  width: 340px;
  font-size: 12px;
}
* .experience-clues-container .experience-clues-description {
  font-weight: bold;
}
* .experience-clues-container .experience-clues {
  font-style: italic;
}
* .class-name {
  width: 512px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 48px;
  text-transform: uppercase;
  border: 3px solid #191813;
}
* .class-name .big-name {
  font-weight: bold;
}
* .class-name .big-description {
  font-size: 20px;
  color: #191813;
}
* .edgeflaw input {
  display: none;
}
* .edgeflaw input:checked + label {
  color: red;
}
* #gang-expert-type-selector #gang-type-boxes {
  flex-wrap: wrap;
}
* .cohorts {
  flex-wrap: wrap;
}
* .cohorts .cohort-block-wrapper {
  width: 400px;
}
* .cohorts .label-stripe {
  margin-bottom: 0px;
}
* .cohorts .cohort-body > div {
  margin-bottom: 10px;
}
* .cohorts .cohort-block-harm {
  justify-content: space-around;
}
* .cohorts .cohort-block-harm input[type=radio] {
  display: none;
}
* .cohorts .cohort-block-harm input[type=radio]:checked + label {
  color: #EEEFFF;
  font-weight: bold;
  background-color: #191813;
}
* .cohorts .cohort-block-harm label {
  border: 2px solid #191813;
  border-top: none;
  padding: 5px;
}
* #items-to-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
* #items-to-add input[type=radio],
* #items-to-add input[type=checkbox] {
  display: none;
}
* #items-to-add input[type=radio]:checked + label,
* #items-to-add input[type=checkbox]:checked + label {
  font-weight: bolder;
}
* .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}
* .tooltip:hover .tooltiptext {
  visibility: visible;
}
* .sav-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 10px;
}
* .sav-die-tooltip .die.great,
* .sav-die-tooltip .die.critical-resist,
* .sav-die-tooltip .die.critical-success {
  color: #12a012;
}
* .sav-die-tooltip .die.nodamage,
* .sav-die-tooltip .die.standard,
* .sav-die-tooltip .die.resist,
* .sav-die-tooltip .die.success {
  color: #008000;
}
* .sav-die-tooltip .die.malfunction,
* .sav-die-tooltip .die.limited,
* .sav-die-tooltip .die.partial-success {
  color: #04578f;
}
* .sav-die-tooltip .die.damaged,
* .sav-die-tooltip .die.poor,
* .sav-die-tooltip .die.failure {
  color: red;
}
* .clock-zero-label {
  color: #191813;
}
* .sav-clock {
  position: relative;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  background-size: cover;
}
* .sav-clock label {
  overflow: hidden;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  transform-origin: 0% 100%;
  transition: filter 0.1s;
  cursor: pointer;
}
* .sav-clock label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
* .sav-clock input {
  position: absolute;
  display: none;
}
* .sav-clock.clock-4 input[value="0"] {
  display: none;
}
* .sav-clock.clock-4 *:nth-child(3) {
  transform: rotate(-45deg) skewY(180deg);
}
* .sav-clock.clock-4 *:nth-child(5) {
  transform: rotate(45deg) skewY(180deg);
}
* .sav-clock.clock-4 *:nth-child(7) {
  transform: rotate(135deg) skewY(180deg);
}
* .sav-clock.clock-4 *:nth-child(9) {
  transform: rotate(225deg) skewY(180deg);
}
* .sav-clock.clock-6 input[value="0"] {
  display: none;
}
* .sav-clock.clock-6 *:nth-child(3) {
  transform: rotate(-30deg) skewY(150deg);
}
* .sav-clock.clock-6 *:nth-child(5) {
  transform: rotate(30deg) skewY(150deg);
}
* .sav-clock.clock-6 *:nth-child(7) {
  transform: rotate(90deg) skewY(150deg);
}
* .sav-clock.clock-6 *:nth-child(9) {
  transform: rotate(150deg) skewY(150deg);
}
* .sav-clock.clock-6 *:nth-child(11) {
  transform: rotate(210deg) skewY(150deg);
}
* .sav-clock.clock-6 *:nth-child(13) {
  transform: rotate(270deg) skewY(150deg);
}
* .sav-clock.clock-8 input[value="0"] {
  display: none;
}
* .sav-clock.clock-8 *:nth-child(3) {
  transform: rotate(-22.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(5) {
  transform: rotate(22.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(7) {
  transform: rotate(67.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(9) {
  transform: rotate(112.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(11) {
  transform: rotate(157.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(13) {
  transform: rotate(202.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(15) {
  transform: rotate(247.5deg) skewY(135deg);
}
* .sav-clock.clock-8 *:nth-child(17) {
  transform: rotate(292.5deg) skewY(135deg);
}
* .sav-clock.clock-10 input[value="0"] {
  display: none;
}
* .sav-clock.clock-10 *:nth-child(3) {
  transform: rotate(-18deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(5) {
  transform: rotate(18deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(7) {
  transform: rotate(54deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(9) {
  transform: rotate(90deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(11) {
  transform: rotate(126deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(13) {
  transform: rotate(162deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(15) {
  transform: rotate(198deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(17) {
  transform: rotate(234deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(19) {
  transform: rotate(270deg) skewY(127.5deg);
}
* .sav-clock.clock-10 *:nth-child(21) {
  transform: rotate(306deg) skewY(127.5deg);
}
* .sav-clock.clock-12 input[value="0"] {
  display: none;
}
* .sav-clock.clock-12 *:nth-child(3) {
  transform: rotate(-15deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(5) {
  transform: rotate(15deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(7) {
  transform: rotate(45deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(9) {
  transform: rotate(75deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(11) {
  transform: rotate(105deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(13) {
  transform: rotate(135deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(15) {
  transform: rotate(165deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(17) {
  transform: rotate(195deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(19) {
  transform: rotate(225deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(21) {
  transform: rotate(255deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(23) {
  transform: rotate(285deg) skewY(123.75deg);
}
* .sav-clock.clock-12 *:nth-child(25) {
  transform: rotate(315deg) skewY(123.75deg);
}
* .sav-clock-name-type > * {
  margin-bottom: 10px;
  max-width: 220px;
}
* .nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
* .nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: red;
}
.clocks.sheet .clock-progress {
  text-align: center;
}
.clocks.sheet .clock-name {
  height: 60px;
  text-align: left;
}
.clocks.sheet .clock-name input {
  height: 40px;
  line-height: 48px;
  font-size: 32px;
  width: 100%;
  background: none;
  border: 1px solid transparent;
  padding: 1px 3px;
  font-family: "Exo2", "Signika", sans-serif;
  border-radius: 3px;
  color: rgb(25, 24, 19);
  margin: 0;
}
.clocks.sheet .clock-name.editable input:hover, .clocks.sheet .clock-name.editable input:focus {
  border: 1px solid rgb(25, 24, 19);
}
.clocks.sheet .clock-progress button {
  width: 140px;
  margin: 0;
}
.clocks.sheet .clock-progress button[name=reset] {
  width: 40px;
}
.clocks.sheet .clock-progress button:disabled {
  color: #aaaaaa;
  border: none;
}
.clocks.sheet .clock-image img {
  border: none;
  padding: 10px;
}
.clocks.sheet .clock-config {
  text-align: center;
}
.clocks.sheet .clock-config .clock-config-group {
  margin-left: 1.5em;
  display: inline-block;
}
.clocks.sheet .clock-config .clock-config-group:first-child {
  margin-left: 0;
}
.clocks.sheet .clock-config .clock-config-group label {
  margin-right: 3px;
}
.clocks.sheet .clock-config .clock-config-group select {
  width: 50px;
}
.clocks.sheet .clock-config .clock-config-group.theme select {
  width: 175px;
}
.clocks.sheet .clock-debug {
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  font-family: monospace;
}

/*# sourceMappingURL=sav.css.map */
